<div class="main_form">
    <form action="/training" method="post" id="m_form" >
        <input type="text" name="name" id="name">
        <select name="city" id="city" >
            <option value=""></option>
            {{#each cities}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="event" id="event" >
            <option value=""></option>
            {{#each events}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="button" value="Dodaj" onclick="check()">
    </form>
</div>
<div class="feedback" id="feedback">

</div>

<table class="main_tab">
    <tr>
        <th>Imię i nazwisko</th>
        <th>Kurs</th>
        <th>Miasto</th>
        <th>Usuń</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{name}}</td>
        <td>{{event.name}}</td>
        <td>{{city.name}}</td>
        <td>
            <a href="/training/delete/{{_id}}">Usuń</a>
        </td>
    </tr>
    {{/each}}
</table>

<script>
    function check() {
        
        let feedback = '';
        let name = document.getElementById('name').value;
        let city = document.getElementById('city').value;
        let event = document.getElementById('event').value;
        if(!name){
            feedback = 'Musisz podać imię i nazwisko <br>';
        }
        if(!city){
            feedback = feedback +  'Musisz podać miasto <br>';
        }
        if(!event){
            feedback = feedback +  'Musisz podać typ szkolenia ';
        }
        if(feedback){
            
            feedbackArea = document.getElementById('feedback');
            feedbackArea.innerHTML = feedback;
        }else{
            let mForm = document.getElementById('m_form');
            mForm.submit();
        }
    }
</script>